$generic-color-1: rgb(33, 18, 39);
$generic-color-2: #fff;
$generic-bg-home: rgb(244, 243, 245);
$generic-color-hover: rgb(114, 111, 111);

.login-user-page {
    min-height: 100vh;
    background: $generic-bg-home;
    .login-user-page-container {
        width: 85%;
        margin: 0 auto;
        padding-top: 100px;

        .login-user-form-container {
            width: 46%;
            margin: 0 auto;
            text-align: center;
            background: $generic-color-2;
            border-radius: 10px;
            overflow: hidden;

            h3 {
                font-size: 2.4rem;
                background: $generic-color-1;
                color: $generic-color-2;
                padding: 15px;
            }

            form {
                padding-top: 40px;
                padding-bottom: 5px;
        
                input {
                  outline: none;
                  margin-top: 25px;
                  width: 400px;
                  border: 2px solid $generic-color-1;
                  height: 50px;
                  background: $generic-bg-home;
                  border-radius: 10px;
                  color: $generic-color-1;
                  font-size: 1.4rem;
                  padding-left: 15px;       
                }
        
                button {
                  cursor: pointer;
                  outline: none;
                  height: 50px;
                  width: 400px;
                  margin-top: 25px;
                  color: $generic-color-2;
                  background-color: $generic-color-1;
                  border: none;
                  font-size: 1.5rem;
                  border-radius: 10px;
                }
              }
        }
    }
}