$generic-color-1: rgb(33, 18, 39);
$generic-color-2: #fff;
$generic-bg-home: rgb(244, 243, 245);
$generic-color-hover: rgb(114, 111, 111);

.shopping-cart {
  min-height: 100vh;
  background: $generic-bg-home;
  position: relative;

  .sc-empty-text {
    text-align: center;
    font-size: 3rem;
    padding-top: 200px;
    color: $generic-color-hover;
  }

  .shopping-cart-table {
    width: 80%;
    margin: 0 auto;
    table {
      margin: 0 auto;
      width: 100%;
      tbody {
        .shooping-cart-ampty {
          font-size: 4rem;
          margin-top: 150px;
          margin-bottom: 80px;
          color: $generic-color-hover;
        }
        .product-info {
    
          &__image {
            margin-top: 30px;
            border-radius: 12px;
            overflow: hidden; 
            max-width: 200px;
            max-height: 210px;
            img {
              // width: 200px;
              // height: 210px;
              width: 100%;
            }
          }
          &__name {
            font-size: 1.9rem;
            margin-left: 30px;
            // text-align: center;
          }
    
          &__price {
            font-size: 1.8rem;
            margin-left: 30px;
            margin-top: 20px;
            background: $generic-color-1;
            // min-width: 120px;
            // max-width: 350px;
            width: 80px;
            border-radius: 12px;
            color: $generic-color-2;
            padding: 10px;
          }
    
          .table-buttons {
            display: flex;
            font-size: 1.2rem;
            margin-left: 20px;
    
            button {
              font-size: 1.5rem;
              width: 35px;
              height: 35px;
              background: none;
              border-radius: 50%;
              border: none;
              cursor: pointer;
              padding-bottom: 2px;
              padding-left: 1.5px;
              background-color: $generic-color-1;
              color: $generic-color-2;
              text-align: center;
              outline: none;
            }
    
            button:hover {
              opacity: 0.7;
            }
    
            input {
              font-size: 1.4rem;
              border-radius: 5px;
              border: 1px solid silver;
              width: 60px;
              padding-left: 8px;
              margin-right: 5px;
              margin-left: 8px;
            }
          }
    
          &__subtotal{
            font-size: 1.7rem;
            margin-left: 30px;
            min-width: 150px;
          }
    
          &__remove {
            margin-left: 50px;
            button {
              background: none;
              border: none;
              font-size: 1.7rem;
              color: $generic-color-1;
              cursor: pointer;
            }
    
            button:hover {
              color: rgb(114, 111, 111);
            }
          }
        }
      }
    }
  }
  .shopping-cart-footer {
    // margin: 0 auto;
    width: 90%;
    color: $generic-color-2;
    &__checkout {
      margin-top: 10px;
      margin-left: auto;
      background: $generic-color-1;
      font-size: 1.7rem;
      width: 400px;
      padding: 15px;
      border-radius: 8px;
      span {
        float: right;
      }
  
      button {
        background: $generic-color-2;
        border: none;
        font-size: 1.8rem;
        padding: 10px;
        color: $generic-color-1;
        border-radius: 12px;
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 20px;
        margin-bottom: 10px;
        width: 300px;
        cursor: pointer;
  
        a{
          color: $generic-color-1;
        }
      }
    }
  
    &__back {
      text-align: center;
      justify-content: center;
      button {
        font-size: 1.4rem;
      }
    }
    
  }
}

@media screen and (max-width: 900px) {
  .shopping-cart .shopping-cart-table {
    width: 95%;
    table {
      tbody {
        .product-info {
          &__name {
            font-size: 1rem;
            margin-left: 30px;
          } 

          &__price {
            font-size: 1rem;
            padding: 5px;
            width: 50px;
          }

          .table-buttons {
            font-size: 1rem;
            margin-left: 5px;

            button {
              font-size: 1rem;
              width: 28px;
              height: 28px;
            }

            input {
              width: 40px;
            }
          }

          &__subtotal {
            font-size: 1rem;
            margin-left: 20px;
            min-width: 0;
            min-width: 50px;
            margin-left: 0px;
          }

          &__remove {
            margin-left: 10px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .shopping-cart .shopping-cart-footer {
    justify-content: center;
    margin: 0 auto;
  }

  .shopping-cart .shopping-cart-footer__checkout {
    margin-left: 0;
    margin: 0 auto
  }

  .shopping-cart .shopping-cart-table table tbody .product-info .table-buttons {
    display: block;

    button {
      justify-content: center;
      margin-left: 12px;
      margin-top: 5px;
    }

    input {
      margin-top: 5px;
    }
  }
}
 