$generic-color-1: rgb(33, 18, 39);
$generic-color-2: #fff;
$generic-bg-home: rgb(244, 243, 245);
$generic-color-hover: rgb(114, 111, 111);

.reviews-container {
    width: 100%;

    &__header {
        display: flex;
        width: 60%;
        justify-content: space-between;
        margin-top: 40px;

        &__amount {
            font-size: 1.5rem;
            span {
                color: rgb(139, 133, 133);
            }
        }

        &__write {
            button {
                font-size: 1.3rem;
                padding: 10px;
                border: none;
                background: $generic-color-1;
                color: $generic-color-2;
                border-radius: 8px;
                cursor: pointer;
                outline: none;
            }
        }
    }
    .review-container {
        border: 1px solid rgb(104, 100, 100);
        width: 60%;
        border-radius: 10px;
        margin-top: 40px;

        &__header {
            display: flex;
            padding: 20px;
            justify-content: space-between;

            border-bottom: 1px solid rgb(104, 100, 100);

            &__name {
                font-size: 1.4rem;
                font-weight: 600;
            }

            &__date {
                color: rgb(104, 100, 100);
            }
        }

        &__main {
            padding: 20px;
            display: flex;
            flex-direction: column;

            &__comment {
                margin-top: 15px;
                font-size: 1.2rem;
            }

            &__rating {
                .stars-outer {
                    position: relative;
                    display: inline-block;
                  }
                  
                  .stars-inner {
                    position: absolute;
                    top: 0;
                    left: 0;
                    white-space: nowrap;
                    overflow: hidden;
                    width: 0;
                  }
                  
                  .stars-outer::before {
                    content: "\f005 \f005 \f005 \f005 \f005";
                    font-family: "Font Awesome 5 Free";
                    font-weight: 900;
                    color: #ccc;
                  }
                  
                  .stars-inner::before {
                    content: "\f005 \f005 \f005 \f005 \f005";
                    font-family: "Font Awesome 5 Free";
                    font-weight: 900;
                    color: #f8ce0b;
                  }
            }
        }
    }

    .modal-window-review {
        display: block; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

        &__form-container {
            background-color: $generic-bg-home;
            margin: 5% auto; /* 15% from the top and centered */
            padding: 20px;
            width: 50%; /* Could be more or less, depending on screen size */
            border-radius: 8px;

            &__head {
                font-size: 1.5rem;
                color: rgb(104, 100, 100);
                display: flex;
                justify-content: space-between;
                // border-bottom: 1px solid rgb(104, 100, 100);

                .modal-close:hover {
                    color: $generic-color-1;
                    cursor: pointer;
                    transition: 0.5s all;
                }
            }

            form {
                margin: 0 auto;
                display: flex;
                flex-direction: column;
                margin-top: 20px;

                label {
                    color: rgb(104, 100, 100);
                }

                textarea {
                    width: 100%;
                    height: 100px;
                    border: 1px solid rgb(104, 100, 100);
                    border-radius: 7px;
                    margin-top: 15px;
                    padding: 10px;
                    outline: none;
                    font-size: 1.2rem;
                }

                .modal-buttons {
                    margin-top: 20px;
                    display: flex;
                    justify-content: space-between;

                    button {
                        border: 2px solid $generic-color-2;
                        background-color: $generic-color-1;
                        border-radius: 8px;
                        color: $generic-color-2;
                        font-size: 1.2rem;
                        padding-left: 25px;
                        padding-right: 25px;
                        padding-top: 10px;
                        padding-bottom: 10px;
                        cursor: pointer;
                        transition: 0.5s all;
                    }

                    button:hover {
                        border-color: $generic-color-1;
                        background-color: $generic-color-2;
                        color: $generic-color-1;
                    }

                    .modal_cancel {
                        border: 2px solid $generic-color-1;
                        border-radius: 8px;
                        font-size: 1.2rem;
                        padding-left: 25px;
                        padding-right: 25px;
                        padding-top: 10px;
                        padding-bottom: 10px;
                        cursor: pointer;
                        transition: 0.5s all;
                    }

                    .modal_cancel:hover {
                        border: 2px solid $generic-color-2;
                        background-color: $generic-color-1;
                        color: $generic-color-2;
                    }
                }

                .modal-rating {
                    width: 63%;
                    margin: 0 auto;


                    .rate-area {
                        border-style: none;
                        float: left;
                    }
                    
                    .rate-area:not(:checked) > input {
                        position: absolute;
                        top: -9999px;
                        clip: rect(0, 0, 0, 0);
                    }
                    
                    .rate-area:not(:checked) > label {
                        float: right;
                        // width: 0.8em;
                        // overflow: hidden;
                        // white-space: nowrap;
                        cursor: pointer;
                        // font-size: 180%;
                        font-size: 2rem;
                        color: lightgrey;
                        margin-left: 40px;
                    }
                    
                    .rate-area:not(:checked) > label:before {
                        // content: "★";
                    }
                    
                    .rate-area > input:checked ~ label {
                        color: gold;
                    }
                    
                    .rate-area:not(:checked) > label:hover,
                    .rate-area:not(:checked) > label:hover ~ label {
                        color: gold;
                    }
                    
                    .rate-area > input:checked + label:hover,
                    .rate-area > input:checked + label:hover ~ label,
                    .rate-area > input:checked ~ label:hover,
                    .rate-area > input:checked ~ label:hover ~ label,
                    .rate-area > label:hover ~ input:checked ~ label {
                        color: gold;
                    }
                }
            }
        }
    }
}