@import "../../variables";

.header {
  min-height: 110px;
  background-color: $generic-color-1;

  .header-container {
    padding-top: 20px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    .logo {
      h1 {
        text-align: center;
        font-size: 2.8rem;
        color: $generic-color-2;
      }

      h1:hover {
        opacity: 0.8;
      }
    }

    .search {
      margin-top: 16px;
      font-size: 1.4rem;
      display: flex;

      input {
        width: 350px;
        height: 45px;
        border: 1px solid $generic-color-2;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        font-size: 1.2rem;
        padding: 5px;
        padding-left: 25px;
        outline: none;
      }

      .search-btn {
        font-size: 1.2rem;
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 8px;
        background: $generic-color-1;
        border: 1px solid $generic-color-2;
        color: $generic-color-2;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        cursor: pointer;
        text-align: center;
        outline: none;
        height: 45px;
      }

      .search-btn:hover {
        opacity: 0.8;
      }
    }

    .burger_menu_btn {
      color: #fff;
      display: none;
      font-size: 2.5rem;
      margin-top: 5px;
      cursor: pointer;
      padding-left: 11px;
      padding-right: 11px;
      border-radius: 50%;
    }

    nav {
      font-size: 1.6rem;
      width: 50%;
      ul {
        display: flex;
        margin-top: 15px;
        justify-content: space-between;
        li {
          margin-top: 6px;
          position: relative;
          color: $generic-color-2;
          .favorites-amount {
            position: absolute;
            font-size: 0.6rem;
            color: $generic-color-2;
            background: $generic-bg-amount;
            right: 0px;
            bottom: 0;
            padding: 2px;
            padding-left: 6px;
            padding-right: 6px;
            border-radius: 50%;
          }

          .cart-amount {
            position: absolute;
            font-size: 0.6rem;
            color: $generic-color-2;
            background: $generic-bg-amount;
            right: 0px;
            bottom: 0;
            padding: 2px;
            padding-left: 6px;
            padding-right: 6px;
            border-radius: 50%;
          }

          margin-left: 25px;
          list-style-type: none;

          i {
            font-size: 2rem;
            cursor: pointer;
          }

          .nav-total {
            margin-right: 10px;
            min-width: 100px;
          }

          a {
            display: flex;
            color: $generic-color-2;

            p {
              margin-left: 10px;
              font-size: 1.3rem;
            }

            span {
              font-size: 1.2rem;
              background: $generic-color-2;
              border: 3px solid $generic-bg-amount;
              border-radius: 17px;
              font-weight: 500;
              width: 150px;
              text-align: center;
              padding-top: 4px;
              padding-bottom: 4px;
              transition: 0.5s;
              color: $generic-color-1;
            }

            span:hover {
              background-color: $generic-color-1;
              color: $generic-color-2;
            }
          }
        }

        li:hover {
          opacity: 0.8;
        }
      }
    }
  }

  .bar_menu {
    // display: none;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 0.4s linear;
    -moz-transition: max-height 0.4s linear;
    transition: max-height 0.4s linear;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 15px;
    ul {
      li {
        overflow: hidden;
        transform: translateY(-100px);
        transition: 0.7s ease;

        margin-top: 25px;
        .search {
          margin-top: 18px;
          font-size: 1.4rem;
          padding-bottom: 10px;
          display: flex;

          form {
            display: flex;
          }

          input {
            width: 450px;
            border: 1px solid $generic-color-2;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            font-size: 1.2rem;
            padding: 5px;
            padding-left: 10px;
            outline: none;
          }

          button {
            background: $generic-color-1;
            font-size: 1.2rem;
            border: 1px solid $generic-color-2;
            color: $generic-color-2;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            outline: none;
          }

          .search-btn {
            padding: 5px;
            padding-left: 10px;
            padding-right: 10px;
            background: $generic-color-1;
            border: 1px solid $generic-color-2;
            color: $generic-color-2;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            cursor: pointer;
            text-align: center;
            outline: none;
          }

          .search-btn:hover {
            opacity: 0.8;
          }
        }

        a {
          color: #fff;
          display: flex;
          font-size: 2rem;

          i {
            margin-top: 6px;
          }

          p {
            margin-left: 15px;
            margin-top: 10px;
            font-size: 1.1rem;
          }

          .cart-amount,
          .favorites-amount {
            margin-left: 10px;
            margin-top: 9px;
            font-size: 1.2rem;
          }
        }
      }
    }
  }

  .bar_menu.show {
    max-height: 400px;
    user-select: none;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 15px;

    ul {
      li {
        margin-top: 25px;
        // max-height: 100px;
        transform: translateY(0);

        .search {
          margin-top: 18px;
          font-size: 1.4rem;
          padding-bottom: 10px;

          input {
            width: 450px;
            border: 1px solid $generic-color-2;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            font-size: 1.2rem;
            padding: 5px;
            padding-left: 10px;
            outline: none;
          }

          button {
            background: $generic-color-1;
            font-size: 1.2rem;
            border: 1px solid $generic-color-2;
            color: $generic-color-2;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            // border-left: none;
            outline: none;
          }

          .search-btn {
            padding: 5px;
            padding-left: 10px;
            padding-right: 10px;
            background: $generic-color-1;
            border: 1px solid $generic-color-2;
            color: $generic-color-2;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            cursor: pointer;
            text-align: center;
            outline: none;
          }

          .search-btn:hover {
            opacity: 0.8;
          }
        }

        a {
          color: #fff;
          display: flex;
          font-size: 2rem;

          i {
            margin-top: 6px;
          }

          p {
            margin-left: 15px;
          }

          .cart-amount,
          .favorites-amount {
            margin-left: 10px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1350px) {
  .bar_menu.show {
    max-height: 0 !important;
  }
}

@media screen and (max-width: 1350px) {
  .burger_menu_btn {
    display: block !important;
    color: #fff;
  }

  .high-resolution-nav {
    display: none;
  }

  .header-container .search {
    display: none !important;
  }
}

@media screen and (max-width: 810px) {
  .search {
    margin: 0 auto;
  }
}
