//variables
$generic-color-1: rgb(33, 18, 39);
$generic-color-2: #fff;
$generic-bg-amount: rgb(124, 119, 129);

.header {
  min-height: 110px;
  background-color: $generic-color-1;

  .header-container {
    padding-top: 20px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
  
    .logo {
      h1 {
        text-align: center;
        font-size: 3rem;
        color: $generic-color-2;
      }

      h1:hover {
        opacity: 0.8;
      }
    }
  
    .search {
      margin-top: 13px;
      font-size: 1.4rem;
      display: flex;

      input {
        width: 450px;
        border: 1px solid $generic-color-2;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        font-size: 1.2rem;
        padding: 5px;
        padding-left: 25px;
        outline: none;
      }
  
      button {
        background: $generic-color-1;
        font-size: 1.2rem;
        border: 1px solid $generic-color-2;
        color: $generic-color-2;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        // border-left: none;
        outline: none;
      }

      .search-btn {
        // padding: 5px;
        // height: 35px;
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 8px;
        background: $generic-color-1;
        border: 1px solid $generic-color-2;
        color: $generic-color-2;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        cursor: pointer;
        text-align: center;
        outline: none;
      }

      .search-btn:hover {
        opacity: 0.8;
      }
    }
    
    .burger_menu_btn {
      color: #fff;
      display: none;
      font-size: 2.5rem;
      margin-top: 5px;
      cursor: pointer;
      padding-left: 11px;
      padding-right: 11px;
      border-radius: 50%;
    }

    .burger_menu_btn:hover {
      background: rgb(101, 88, 107)
    }

    nav {
      width: 40%;
      font-size: 1.6rem;
      color: $generic-color-2;;
      ul {
        display: flex;
        margin-top: 15px;
        justify-content: space-between;
        li {
          margin-top: 6px;
          position: relative;
          .favorites-amount {
            position: absolute;
            font-size: 0.6rem;
            color: $generic-color-2;
            background: $generic-bg-amount;
            right: 0px;
            bottom: 0; 
            padding: 2px;
            padding-left: 6px;
            padding-right: 6px;
            border-radius: 50%;
          }

          .cart-amount {
            position: absolute;
            font-size: 0.6rem;
            color: $generic-color-2;
            background: $generic-bg-amount;
            right: 0px;
            bottom: 0; 
            padding: 2px;
            padding-left: 6px;
            padding-right: 6px;
            border-radius: 50%;
          }

          margin-left: 25px;
          list-style-type: none;
          
          i {
            font-size: 2rem;
            cursor: pointer;
          }

          .nav-total {
            margin-right: 10px;
            min-width: 100px;
          }

          a {
            display: flex;
            color: $generic-color-2;
  
            p {
              margin-left: 8px;
            }
          }
        }

        li:hover {
          opacity: 0.8;
        }
      }
    }
  }

  .bar_menu {
    // display: none;
    max-height: 0;
    overflow: hidden;
    -webkit-transition:max-height 0.4s linear;
    -moz-transition:max-height 0.4s linear;
    transition:max-height 0.4s linear;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 15px;
    ul {
      li {
        // max-height: 0;
        overflow: hidden;
        transform: translateY(100px);
        transition: 1.5s ease;

        margin-top: 25px;
        .search {
          margin-top: 18px;
          font-size: 1.4rem;
          padding-bottom: 10px;
          display: flex;

          form {
            display: flex;
          }

          input {
            width: 450px;
            border: 1px solid $generic-color-2;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            font-size: 1.2rem;
            padding: 5px;
            padding-left: 10px;
            outline: none;
          }
      
          button {
            background: $generic-color-1;
            font-size: 1.2rem;
            border: 1px solid $generic-color-2;
            color: $generic-color-2;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            outline: none;
          }

          .search-btn {
            padding: 5px;
            padding-left: 10px;
            padding-right: 10px;
            background: $generic-color-1;
            border: 1px solid $generic-color-2;
            color: $generic-color-2;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            cursor: pointer;
            text-align: center;
            outline: none;
          }

          .search-btn:hover {
            opacity: 0.8;
          }
        }

        a {
          color: #fff;
          display: flex;
          font-size: 2rem;

          i {
            margin-top: 6px;
          }

          p {
            margin-left: 15px;
          }

          .cart-amount, .favorites-amount {
            margin-left: 10px;
          }
        }
      }
    }
  }

  .bar_menu.show {
    max-height: 400px;
    user-select: none;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 15px;
    
    ul {
      li {
        margin-top: 25px;
        // max-height: 100px;
        transform: translateY(0);
        
        .search {
          margin-top: 18px;
          font-size: 1.4rem;
          padding-bottom: 10px;

          // form {
          //   display: flex;
          // }}

          input {
            // margin-top: 10px;
            width: 450px;
            border: 1px solid $generic-color-2;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            font-size: 1.2rem;
            padding: 5px;
            padding-left: 10px;
            outline: none;
          }
      
          button {
            background: $generic-color-1;
            font-size: 1.2rem;
            border: 1px solid $generic-color-2;
            color: $generic-color-2;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            // border-left: none;
            outline: none;
          }

          .search-btn {
            padding: 5px;
            padding-left: 10px;
            padding-right: 10px;
            background: $generic-color-1;
            border: 1px solid $generic-color-2;
            color: $generic-color-2;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            cursor: pointer;
            text-align: center;
            outline: none;
          }

          .search-btn:hover {
            opacity: 0.8;
          }
        }

        a {
          color: #fff;
          display: flex;
          font-size: 2rem;

          i {
            margin-top: 6px;
          }

          p {
            margin-left: 15px;
          }

          .cart-amount, .favorites-amount {
            margin-left: 10px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1350px) {
  .bar_menu.show {
    max-height: 0 !important;
  }
}


@media screen and (max-width: 1350px) {
  .burger_menu_btn {
    display: block!important;
    color: #fff;
  }
  
  .high-resolution-nav {
    display: none;
  }

  .header-container .search {
    display: none!important;
  }
}

@media screen and (max-width: 810px) {
  .burger_menu_btn {
    position: absolute;
    right: 0;
  }

  .search {
    margin: 0 auto;
  }
}

// @media screen and (max-width: 500px) {
//   .header {
//     .header-container {
//       display: block;
//       .logo {
//         text-align: center;
//       }

//       nav {
//         width: 100%;
//         justify-content: center;
//         font-size: 1.2rem;
//         padding-bottom: 10px;

//         ul {
//           li {
//             i {
//               font-size: 1.5rem;
//             }

//             .favorites-amount {
//               font-size: 1rem;
//               left: 8px;
//               top: 0px;
//             }

//             .cart-amount {
//               font-size: 1rem;
//               color: $generic-color-1;
//               left: 12px;
//               bottom: 7px; 
//             }
//           }

//           li:first-child {
//             margin-left: 0;
//           }
//         }
//       }
//     }
//   }
// }