$generic-color-1: rgb(33, 18, 39);
$generic-color-2: #fff;
$generic-bg-home: rgb(244, 243, 245);
$generic-color-hover: rgb(114, 111, 111);

.not-found-page {
  background: $generic-bg-home;
  min-height: 100vh;
  color: $generic-color-1;
  background-attachment: fixed;
  .not-found-page-container {
    padding-top: 30px;
    text-align: center;

    h3 {
      font-size: 2.8rem;
      font-weight: 300;
      word-spacing: 20px;
    }

    img {
      margin-left: 30px;
      margin-top: 20px;
    }

    h1 {
      margin-top: 20px;
      font-size: 5rem;
      font-weight: 400;
    }
  }
}
