$generic-color-1: rgb(33, 18, 39);
$generic-color-2: #fff;
$generic-bg-home: rgb(244, 243, 245);
$generic-color-hover: rgb(114, 111, 111);

.login-page {
  min-height: 100vh;
  background: $generic-bg-home;
  .login-page-container {
    width: 85%;
    margin: 0 auto;
    padding-top: 100px;
    .login-form-container {
      width: 46%;
      margin: 0 auto;
      text-align: center;
      background: $generic-color-2;
      border-radius: 10px;
      overflow: hidden;
      h3 {
        font-size: 2.4rem;
        background: $generic-color-1;
        color: $generic-color-2;
        padding: 15px;
      }
      form {
        padding-top: 40px;
        padding-bottom: 5px;

        input {
          outline: none;
          margin-top: 25px;
          width: 400px;
          border: 2px solid $generic-color-1;
          height: 50px;
          background: $generic-bg-home;
          border-radius: 10px;
          color: $generic-color-1;
          font-size: 1.4rem;
          padding-left: 15px;       
        }

        button {
          cursor: pointer;
          outline: none;
          height: 50px;
          width: 400px;
          margin-top: 25px;
          color: $generic-color-2;
          background-color: $generic-color-1;
          border: none;
          font-size: 1.5rem;
          border-radius: 10px;
        }
      }

      .login-error-message {
        margin-top: 20px;
        font-size: 1.5rem;
        color: rgb(199, 41, 41);
      }

      &__functions {
        display: flex;
        width: 400px;
        margin: 0 auto;
        margin-bottom: 60px;
        button {
          cursor: pointer;
          outline: none;
          height: 50px;
          width: 200px;
          margin-top: 25px;
          color: $generic-color-2;
          background-color: $generic-color-1;
          border: none;
          font-size: 1.2rem;
          border-radius: 10px;
        }

        p {
          margin-top: 37px;
          margin-left: 8px;
          font-size: 1.2rem;
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .login-page {
    .login-page-container {
      width: 95%;
      .login-form-container {
        width: 100%;
        padding-left: 5px;
        padding-right: 5px;
      }
    }
  }
}