$generic-color-1: rgb(33, 18, 39);
$generic-color-2: #fff;
$generic-bg-home: rgb(244, 243, 245);
$generic-color-hover: rgb(114, 111, 111);

.admin-page-navigation {
  background: $generic-bg-home;
  padding-top: 10px;
  padding-bottom: 10px;
  &__container {
    justify-content: space-between;
    text-align: center;
    display: flex;
    width: 50%;
    margin: 0 auto;
    font-size: 1.7rem;
    font-weight: 400;
    a {
      color: $generic-color-1;
    }

    a:hover {
      text-decoration: underline;
    }
  }
}

// .modal-window-container {
//   position: absolute;
//   top: 800px;
//   left: 0;
// }

.modal-window-container {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */

  &__border {
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 70%; /* Could be more or less, depending on screen size */

    &__form {
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      max-width: 60%;

      input {
        margin-top: 25px;
        border: 2px solid $generic-color-1;
        height: 50px;
        background: $generic-bg-home;
        border-radius: 10px;
        color: $generic-color-1;
        font-size: 1.4rem;
        padding-left: 15px;
        outline: none;
      }

      textarea {
        padding: 10px;
        margin-top: 25px;
        border: 2px solid $generic-color-1;
        height: 150px;
        background: $generic-bg-home;
        border-radius: 10px;
        color: $generic-color-1;
        font-size: 1.4rem;
        padding-left: 15px;
        outline: none;
      }

      &__buttons {
        margin-top: 20px;
      }
    }
  }
}

.admin-page {
  background-color: $generic-bg-home;
  min-height: 100vh;
  .admin-page-container {
    .adding-product-form {
      width: 85%;
      margin: 0 auto;
      .adding-product-form-container {
        width: 65%;
        margin: 0 auto;
        text-align: center;
        background: $generic-color-2;
        border-radius: 10px;
        overflow: hidden;
        padding-bottom: 40px;

        h3 {
          font-size: 2.4rem;
          background: $generic-color-1;
          color: $generic-color-2;
          padding: 15px;
        }

        form {
          padding-top: 40px;
          padding-bottom: 5px;

          input {
            margin-top: 25px;
            width: 500px;
            border: 2px solid $generic-color-1;
            height: 50px;
            background: $generic-bg-home;
            border-radius: 10px;
            color: $generic-color-1;
            font-size: 1.4rem;
            padding-left: 15px;
            outline: none;
          }

          .adding-product-form__image_upload {
            padding-top: 6px;
          }

          textarea {
            padding: 10px;
            margin-top: 25px;
            width: 500px;
            border: 2px solid $generic-color-1;
            height: 150px;
            background: $generic-bg-home;
            border-radius: 10px;
            color: $generic-color-1;
            font-size: 1.4rem;
            padding-left: 15px;
            outline: none;
          }

          button {
            height: 50px;
            width: 500px;
            margin-top: 25px;
            color: $generic-color-2;
            background-color: $generic-color-1;
            border: none;
            font-size: 1.5rem;
            border-radius: 10px;
            outline: none;
          }
        }
      }
    }

    .admin-product-list {
      // margin-top: 20px;
      .admin-product-list-container {
        margin: 0 auto;
        width: 80%;

        h3 {
          font-size: 2.4rem;
          background: $generic-color-1;
          color: $generic-color-2;
          padding: 15px;
          text-align: center;
        }

        .search-product-form {
          display: flex;
          justify-content: center;

          select {
            margin-top: 25px;
            width: 200px;
            border: 2px solid $generic-color-1;
            height: 50px;
            background: $generic-bg-home;
            color: $generic-color-1;
            font-size: 1.2rem;
            padding-left: 15px;
          }

          input {
            margin-left: 10px;
            margin-top: 25px;
            width: 400px;
            border: 2px solid $generic-color-1;
            height: 50px;
            background: $generic-bg-home;
            border-radius: 10px;
            color: $generic-color-1;
            font-size: 1.4rem;
            padding-left: 15px;
            outline: none;
          }

          &__search-btn {
            cursor: pointer;
            margin-left: 10px;
            height: 50px;
            border: 2px solid $generic-color-1;
            background-color: $generic-color-1;
            color: $generic-color-2;
            width: 100px;
            text-align: center;
            padding: 12px;
            margin-top: 24px;
            border-radius: 10px;
            outline: none;
          }

          &__search-btn:hover {
            opacity: 0.8;
          }
        }

        table {
          margin-top: 20px;
          width: 100%;
          border-collapse: collapse;
          thead {
            font-size: 1.6rem;
            tr {
              border: 1px solid black;
              th {
                padding: 5px;
                border-right: 1px solid black;
              }
            }
          }

          tbody {
            tr {
              border: 1px solid black;
              height: 40px;
              font-size: 1.4rem;
              td {
                text-align: center;
                border-right: 1px solid black;
              }
            }

            tr:hover {
              background: $generic-color-2;
              cursor: pointer;
            }

            tr {
              .admin-products-buttons {
                button {
                  background: $generic-color-1;
                  color: $generic-color-2;
                  border: none;
                  font-size: 1.2rem;
                  padding: 6px;
                  margin-left: 8px;
                  border-radius: 7px;
                  cursor: pointer;
                  outline: none;
                }
                button:hover {
                  opacity: 0.8;
                }
              }
            }
          }
        }
      }
    }

    .admin-order-list {
      // margin-top: 20px;
      .admin-order-list-container {
        // margin: 0 auto;
        // width: 80%;
        // display: grid;
        // grid-template-columns: repeat(auto-fill, 400px);
        // grid-template-rows: 1fr;
        // grid-column-gap: 0px;
        // grid-row-gap: 0px;
        // justify-content: space-between;

        margin: 0 auto;
        width: 80%;

        h3 {
          font-size: 2.4rem;
          background: $generic-color-1;
          color: $generic-color-2;
          padding: 15px;
          text-align: center;
        }

        .search-order-form {
          display: flex;
          justify-content: center;

          select {
            margin-top: 25px;
            width: 200px;
            border: 2px solid $generic-color-1;
            height: 50px;
            background: $generic-bg-home;
            // border-radius: 10px;
            color: $generic-color-1;
            font-size: 1.2rem;
            padding-left: 15px;
          }

          input {
            margin-left: 10px;
            margin-top: 25px;
            width: 400px;
            border: 2px solid $generic-color-1;
            height: 50px;
            background: $generic-bg-home;
            border-radius: 10px;
            color: $generic-color-1;
            font-size: 1.4rem;
            padding-left: 15px;
            outline: none;
          }

          &__search-btn {
            cursor: pointer;
            margin-left: 10px;
            height: 50px;
            border: 2px solid $generic-color-1;
            background-color: $generic-color-1;
            color: $generic-color-2;
            width: 100px;
            text-align: center;
            padding: 12px;
            margin-top: 24px;
            border-radius: 10px;
            outline: none;
          }

          &__search-btn:hover {
            opacity: 0.8;
          }
        }

        table {
          margin-top: 20px;
          width: 100%;
          border-collapse: collapse;
          thead {
            font-size: 1.6rem;
            tr {
              border: 1px solid black;
              th {
                padding: 5px;
                border-right: 1px solid black;
              }
            }
          }

          tbody {
            tr {
              border: 1px solid black;
              height: 40px;
              font-size: 1.4rem;
              td {
                text-align: center;
                border-right: 1px solid black;
              }
            }

            tr:hover {
              background: $generic-color-2;
              cursor: pointer;
            }

            tr {
              .admin-products-buttons {
                button {
                  background: $generic-color-1;
                  color: $generic-color-2;
                  border: none;
                  font-size: 1.2rem;
                  padding: 6px;
                  margin-left: 8px;
                  border-radius: 7px;
                  cursor: pointer;
                  outline: none;
                }
                button:hover {
                  opacity: 0.8;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .admin-page-navigation {
    &__container {
      width: 90%;
      font-size: 1.4rem;
    }
  }
  .admin-page {
    padding-bottom: 20px;
    .admin-page-container {
      .adding-product-form {
        .adding-product-form-container {
          width: 100%;
          .search-product-form {
            select {
              margin: 0 auto;
            }
          }
        }
      }

      .admin-product-list {
        .admin-product-list-container {
          width: 95%;
          .search-product-form {
            display: block;

            select {
              margin: 0 auto;
              margin-top: 10px;
            }

            input {
              margin-left: 0px;
              width: 100%;
            }

            &__search-btn {
              width: 70%;
              margin: 0 auto;
              margin-top: 10px;
            }
          }

          table {
            thead {
              tr {
                th {
                  font-size: 1rem;
                }
              }
            }

            tbody {
              tr {
                td {
                  font-size: 0.8rem;
                  .admin-products-buttons {
                    button {
                      font-size: 0.5rem;
                      padding: 4px;
                    }
                  }
                }
              }
            }
          }
        }
      }

      .admin-order-list {
        .admin-order-list-container {
          width: 95%;
          .search-order-form {
            display: block;

            input {
              width: 100%;
              margin-left: 0;
            }

            &__search-btn {
              width: 70%;
              margin: 0 auto;
              margin-top: 10px;
            }
          }

          table {
            thead {
              tr {
                th {
                  font-size: 1rem;
                }
              }
            }

            tbody {
              tr {
                td {
                  font-size: 0.55rem;
                  .admin-products-buttons {
                    button {
                      font-size: 0.5rem;
                      padding: 4px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
