@import "../../../variables";

.login_error-container {
  .login_error {
    font-size: 1.5rem;
    color: $generic-color-1;
    text-align: center;
    border: 2px solid rgb(199, 41, 41);
    background: rgba(199, 41, 41, 0.123);
    border-radius: 10px;
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;

    i {
      color: rgb(199, 41, 41);
    }
  }
}
