$generic-color-1: rgb(33, 18, 39);
$generic-color-2: #fff;
$generic-bg-home: rgb(244, 243, 245);
$generic-color-hover: rgb(114, 111, 111);

.order-page {
  background: $generic-bg-home;
  min-height: 100vh;

  .order-page-container {
    padding-top: 30px;
    display: flex;
    margin: 0 auto;
    width: 85%;

    justify-content: space-between;  

    .order-page-form {
      margin: 0 auto;
      h3 {
        font-size: 1.8rem;
        font-weight: 300;
      }

      button {
        width: 450px;
        height: 45px;
        border: none;
        background: $generic-color-1;
        margin-top: 10px;
        border-radius: 3px;
        font-size: 1.3rem;
        cursor: pointer;
        color: $generic-color-2;
      }

      div {

        p {
          margin-right: 15px;
          margin-top: 10px;
          font-size: 1.3rem;
        }

        input {
          width: 450px;
          height: 45px;
          border-radius: 3px;
          border: 1px solid $generic-color-1;
          padding-left: 8px;
          font-size: 1.5rem;
          margin-top: 5px;
        }

        select {
          margin-top: 5px;
          width: 450px;
          height: 45px;
          border: 1px solid $generic-color-1;
          border-radius: 3px;
          font-size: 1.3rem;
        }
      }

      div:first-child {
        margin-top: 20px;
      }
    }

    .order-products-cart {
      background: $generic-color-1;
      width: 500px;
      margin-top: 20px;
      border-radius: 12px;
      margin: 0 auto;
      color: $generic-color-2;

      h3 {
        font-size: 1.8rem;
        font-weight: 300;
        margin-bottom: 15px;
        text-align: center;
        padding: 10px;
      }
      &__product-container {
        display: flex;
        margin-top: 15px;
        padding: 10px;

        .product-image {
          margin-left: 20px;
          img {
            width: 85px;
          }
        }
  
        .product-info {
          margin-left: 15px;
          p {
            margin-top: 15px;
          }

          &__price {
            p {
              margin-top: 15px;
              font-size: 1.3rem;
            }

            p:nth-child(2) {
              margin-left: 100px;
              font-size: 1.3rem;
            }

            display: flex;
          }
        }
      }

      &__total-price {
        border-top: 1px solid $generic-color-2;
        padding: 15px;
        text-align: center;
        font-size: 1.8rem;
      }
    }
  }
}