$generic-color-1: rgb(33, 18, 39);
$generic-color-2: #fff;
$generic-bg-home: rgb(244, 243, 245);
$generic-color-hover: rgb(114, 111, 111);

.order-page {
  background: $generic-bg-home;
  min-height: 100vh;
  padding-bottom: 40px;

  .order-page-container {
    padding-top: 30px;
    display: flex;
    margin: 0 auto;
    width: 85%;

    justify-content: space-between;  

    .order-page-form {
      margin: 0 auto;
      margin-right: 10px;
      h3 {
        font-size: 1.8rem;
        font-weight: 300;
        text-align: center;
      }

      button {
        width: 450px;
        height: 45px;
        border: none;
        background: $generic-color-1;
        margin-top: 10px;
        border-radius: 3px;
        font-size: 1.3rem;
        cursor: pointer;
        color: $generic-color-2;
      }

      div {

        p {
          margin-right: 15px;
          margin-top: 10px;
          font-size: 1.3rem;
        }

        input {
          width: 450px;
          height: 45px;
          border-radius: 3px;
          border: 1px solid $generic-color-1;
          padding-left: 8px;
          font-size: 1.5rem;
          margin-top: 5px;
        }

        select {
          margin-top: 5px;
          width: 450px;
          height: 45px;
          border: 1px solid $generic-color-1;
          border-radius: 3px;
          font-size: 1.3rem;
        }
      }

      div:first-child {
        margin-top: 20px;
      }

      .stripe-form-component {
        margin-top: 20px;
        form {
          // width: 30vw;
          margin: 0 auto;
          align-self: center;
          box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1),
            0px 2px 5px 0px rgba(50, 50, 93, 0.1), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);
          border-radius: 7px;
          padding: 40px;
        }
        input {
          border-radius: 6px;
          margin-bottom: 6px;
          padding: 12px;
          border: 1px solid rgba(50, 50, 93, 0.1);
          max-height: 44px;
          font-size: 16px;
          width: 100%;
          background: white;
          box-sizing: border-box;
          outline: none;
        }
        .result-message {
          line-height: 22px;
          font-size: 16px;
        }
        .result-message a {
          color: rgb(89, 111, 214);
          font-weight: 600;
          text-decoration: none;
        }
        .hidden {
          display: none;
        }
        #card-error {
          color: rgb(105, 115, 134);
          font-size: 16px;
          line-height: 20px;
          margin-top: 12px;
          text-align: center;
        }
        #card-element {
          border-radius: 4px 4px 0 0;
          padding: 12px;
          border: 1px solid rgba(50, 50, 93, 0.1);
          max-height: 44px;
          width: 100%;
          background: white;
          box-sizing: border-box;
        }
        #payment-request-button {
          margin-bottom: 32px;
        }
        /* Buttons and links */
        button {
          background: $generic-color-1;
          font-family: Arial, sans-serif;
          color: #ffffff;
          border-radius: 0 0 4px 4px;
          border: 0;
          padding: 12px 16px;
          font-size: 16px;
          font-weight: 600;
          cursor: pointer;
          display: block;
          transition: all 0.2s ease;
          box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
          width: 100%;
        }
        button:hover {
          filter: contrast(115%);
        }
        button:disabled {
          opacity: 0.5;
          cursor: default;
        }
        /* spinner/processing state, errors */
        .spinner,
        .spinner:before,
        .spinner:after {
          border-radius: 50%;
        }
        .spinner {
          color: #ffffff;
          font-size: 22px;
          text-indent: -99999px;
          margin: 0px auto;
          position: relative;
          width: 20px;
          height: 20px;
          box-shadow: inset 0 0 0 2px;
          -webkit-transform: translateZ(0);
          -ms-transform: translateZ(0);
          transform: translateZ(0);
        }
        .spinner:before,
        .spinner:after {
          position: absolute;
          content: "";
        }
        .spinner:before {
          width: 10.4px;
          height: 20.4px;
          background: #5469d4;
          border-radius: 20.4px 0 0 20.4px;
          top: -0.2px;
          left: -0.2px;
          -webkit-transform-origin: 10.4px 10.2px;
          transform-origin: 10.4px 10.2px;
          -webkit-animation: loading 2s infinite ease 1.5s;
          animation: loading 2s infinite ease 1.5s;
        }
        .spinner:after {
          width: 10.4px;
          height: 10.2px;
          background: #5469d4;
          border-radius: 0 10.2px 10.2px 0;
          top: -0.1px;
          left: 10.2px;
          -webkit-transform-origin: 0px 10.2px;
          transform-origin: 0px 10.2px;
          -webkit-animation: loading 2s infinite ease;
          animation: loading 2s infinite ease;
        }
        @keyframes loading {
          0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
          }
          100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
          }
        }
      }
    }

    .order-products-cart {
      background: $generic-color-1;
      width: 500px;
      margin-top: 20px;
      border-radius: 12px;
      margin: 0 auto;
      color: $generic-color-2;

      h3 {
        font-size: 1.8rem;
        font-weight: 300;
        margin-bottom: 15px;
        text-align: center;
        padding: 10px;
      }
      &__product-container {
        display: flex;
        margin-top: 15px;
        padding: 10px;

        .product-image {
          margin-left: 20px;
          img {
            width: 85px;
          }
        }
  
        .product-info {
          margin-left: 15px;
          p {
            margin-top: 15px;
          }

          &__price {
            p {
              margin-top: 15px;
              font-size: 1.3rem;
            }

            p:nth-child(2) {
              margin-left: 100px;
              font-size: 1.3rem;
            }

            display: flex;
          }
        }
      }

      &__total-price {
        border-top: 1px solid $generic-color-2;
        padding: 15px;
        text-align: center;
        font-size: 1.8rem;
      }
    }
  }
}

@media screen and (max-width: 950px) {
  .order-page {
    .order-page-container {
      display: block;

      .order-products-cart {
        margin-top: 40px;
      }
    }
  }
}

