@import "../../variables";

.signup-page {
  min-height: 100vh;
  background: $generic-bg-home;
  .signup-page-container {
    padding-top: 50px;
    padding-bottom: 50px;

    .signup-form-container {
      padding: 40px;
      border: 2px solid $generic-color-1;
      border-radius: 40px;
      background: $generic-color-2;
      box-shadow: 0 0 10px rgba(0, 0, 0, 1);
      width: 35%;
      margin: 0 auto;

      h3 {
        font-size: 2.4rem;
        color: $generic-color-1;
        padding: 15px;
        text-align: center;
      }

      form {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        margin: 0 auto;

        label {
          font-size: 1.6rem;
          margin-top: 10px;
          color: $generic-color-hover;
        }

        input {
          outline: none;
          margin-top: 5px;
          // width: 400px;
          border: 2px solid $generic-color-1;
          height: 50px;
          background: $generic-bg-home;
          border-radius: 5px;
          color: $generic-color-1;
          font-size: 1.4rem;
          padding-left: 15px;
        }

        button {
          cursor: pointer;
          outline: none;
          height: 50px;
          // width: 400px;
          margin-top: 25px;
          color: $generic-color-2;
          background-color: $generic-color-1;
          border: none;
          font-size: 1.5rem;
          border-radius: 10px;

          border: 3px solid $generic-color-1;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          transition: 0.5s;
        }

        button:hover {
          background: $generic-bg-home;
          color: $generic-color-1;
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .signup-page {
    .signup-page-container {
      .signup-form-container {
        width: 60%;
        // form {
        //   width: 60%;
        // }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .signup-page {
    .signup-page-container {
      .signup-form-container {
        width: 90%;
        // form {
        //   width: 75%;
        // }
      }
    }
  }
}
