$generic-color-1: rgb(33, 18, 39);
$generic-color-2: #fff;
$generic-bg-home: rgb(244, 243, 245);
$generic-color-hover: rgb(114, 111, 111);

.single-product {
  // padding-top: 30px;
  background: $generic-bg-home;
  min-height: 130vh;
  padding-bottom: 50px;
  // padding: 2px;

  .single-product-loading {
    margin: 0 auto;
    width: 25%;
    padding-top: 80px;
  } 


  h3 {
    text-align: center;
    font-size: 2.2rem;
    // width: 85%;
    // margin: 0 auto;
    padding-top: 30px;
    // padding-left: 30px;
  }

  .single-product-container {
    padding-top: 30px;
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

    .img-row {
      width: 50%;
      // max-height: 650px;

      .img_container {
        // width: 90%;
        border-radius: 30px;
        overflow: hidden;
        max-width: 440px;
        max-height: 600px;
        // width: 600px;
        background-repeat: no-repeat;
        img {
          // display: block;
          width: 100%;
          pointer-events: none;
        }
      }

      button {
        border: none;
        background: $generic-color-1;
        font-size: 1.2rem;
        color: $generic-color-2;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        padding: 5px;
        text-align: center;
        cursor: pointer;
        outline: none;
        margin-top: 20px;
        margin-left: 10px;
        margin-right: 10px;
      }

      .images-slider {
        display: flex;

        .images-list-container {
          display: flex;

          &__single-image {
            width: 100px;
            height: 150px;
            margin: 10px;

            img {
              width: 100%;
              height: 100%;
            }
          }
        }
  
        // .images-list-container img {
        //   max-width: 100px;
        //   margin: 10px;
        // }
      }

      .img_container:hover {
        cursor: zoom-in;
      }

      .img_container:hover img {
        opacity: 0;
      }
    }

    .info-row {
      width: 50%;
      margin: 0 auto;
      // display: flex;

      &__func {
        display: flex;
        flex-wrap: wrap;

        &__price {
          border: 4px solid $generic-color-1;
          color: $generic-color-1;
          font-size: 1.3rem;
          padding-top: 16px;
          padding-bottom: 16px;
          padding-left: 25px;
          padding-right: 30px;
          border-radius: 15px;
        }

        &__buttons {
          display: flex;
          flex-wrap: wrap;
          // margin-top: 30px;
          justify-content: center;
          button {
            border: none;
            background: $generic-color-1;
            color: $generic-color-2;
            font-size: 1.3rem;
            padding-top: 16px;
            padding-bottom: 16px;
            border-radius: 15px;
            cursor: pointer;
          }
          
          button:hover {
            opacity: 0.8;
          }
  
          .add-to-cart {
            margin-left: 30px;
            outline: none;
            padding-left: 25px;
            padding-right: 25px;

            span {
              margin-left: 5px;
            }
          }

          .add-to-favorite {
            margin-left: 30px;
            padding-top: 16px;
            padding-bottom: 16px;
            padding-left: 25px;
            padding-right: 25px;
            outline: none;
          }
  
          &__amount {
            .decrement {
              background: none;
              border: 2px solid $generic-color-1;
              color: $generic-color-1;
              border-bottom-right-radius: 0px;
              border-top-right-radius: 0px;
              padding-top: 16px;
              padding-bottom: 16px;
              padding-left: 28px;
              padding-right: 28px;
              outline: none;
              cursor: pointer;
            }
            .increment {
              outline: none;
              background: none;
              border: 2px solid $generic-color-1;
              color: $generic-color-1;
              border-bottom-left-radius: 0px;
              border-top-left-radius: 0px;
              padding-top: 16px;
              padding-bottom: 16px;
              padding-left: 28px;
              padding-right: 28px;
              cursor: pointer;
            }
  
            input {
              outline: none;
              font-size: 1.3rem;
              border: 2px solid $generic-color-1;
              border-right: none;
              border-left: none;
              // padding-top: 16px;
              // padding-bottom: 16px;
              // padding-left: 28px;
              // padding-right: 28px;
              text-align: center;
              height: 61px;
              width: 70px;
            }
          }
        }
      }

      &__description {
        margin-top: 30px;
        font-size: 1.3rem;
      }

      &__age {
        margin-top: 20px;
        font-size: 1.4rem;
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  .single-product .single-product-container {
    display: block;
    width: 85%;
    .img-row {
      width: 100%;
      // max-height: 650px;
      margin: 0 auto;
    }

    .images-slider {
      .images-list-container {
        &__single-image {
          max-width: 80px;
          max-height: 120px;
        }
      }
    }

    .info-row {
      width: 100%;
      margin-top: 20px;

      &__func {
        &__buttons {
          .add-to-cart {
            span {
              display: none;
            }
          }
        }
      }

      &__description {
        font-size: 1rem;
      }
    }
  }
}

@media screen and (max-width: 470px) {
  .single-product .single-product-container {
    .images-slider {
      .images-list-container {
        &__single-image {
          max-width: 60px;
          max-height: 100px;
        }
      }
    }
  }
}