$generic-color-1: rgb(33, 18, 39);
$generic-color-2: #fff;
$generic-bg-home: rgb(244, 243, 245);
$generic-color-hover: rgb(114, 111, 111);

.single-product {
  // padding-top: 30px;
  background: $generic-bg-home;
  min-height: 100vh;
  padding-bottom: 50px;
  // padding: 2px;

  .single-product-loading {
    margin: 0 auto;
    width: 25%;
    padding-top: 80px;
  } 


  h3 {
    text-align: center;
    font-size: 2.2rem;
    // width: 85%;
    // margin: 0 auto;
    padding-top: 30px;
    // padding-left: 30px;
  }

  .single-product-container {
    padding-top: 30px;
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

    .img-row {
      width: 50%;
      max-height: 650px;

      .img_container {
        // width: 90%;
        border-radius: 30px;
        overflow: hidden;
        max-width: 440px;
        max-height: 600px;
        // width: 600px;
        background-repeat: no-repeat;
        img {
          // display: block;
          width: 100%;
          pointer-events: none;
        }
      }

      .img_container:hover {
        cursor: zoom-in;
      }

      .img_container:hover img {
        opacity: 0;
      }
    }

    .info-row {
      width: 50%;
      margin: 0 auto;

      &__price {
        margin-top: 20px;
        font-size: 1.7rem;
        background: $generic-color-1;
        color: $generic-color-2;
        border-radius: 12px;
        padding: 8px;
        width: 120px;
      }

      &__description {
        margin-top: 30px;
        font-size: 1.3rem;
      }

      &__age {
        margin-top: 20px;
        font-size: 1.4rem;
      }

      &__buttons {
        display: flex;
        flex-wrap: wrap;
        margin-top: 30px;
        justify-content: center;
        button {
          border: none;
          background: $generic-color-1;
          color: $generic-color-2;
          font-size: 1.3rem;
          padding-top: 16px;
          padding-bottom: 16px;
          padding-left: 35px;
          padding-right: 35px;
          border-radius: 25px;
          margin-top: 10px;
        }
        cursor: pointer;
        
        button:hover {
          opacity: 0.8;
        }

        .add-to-cart {
          margin-left: 30px;
          outline: none;
          cursor: pointer;
        }

        &__amount {
          .decrement {
            background: none;
            border: 2px solid $generic-color-1;
            color: $generic-color-1;
            border-bottom-right-radius: 0px;
            border-top-right-radius: 0px;
            padding-top: 16px;
            padding-bottom: 16px;
            padding-left: 28px;
            padding-right: 28px;
            outline: none;
            cursor: pointer;
          }
          .increment {
            outline: none;
            background: none;
            border: 2px solid $generic-color-1;
            color: $generic-color-1;
            border-bottom-left-radius: 0px;
            border-top-left-radius: 0px;
            padding-top: 16px;
            padding-bottom: 16px;
            padding-left: 28px;
            padding-right: 28px;
            cursor: pointer;
          }

          input {
            outline: none;
            font-size: 1.3rem;
            border: 2px solid $generic-color-1;
            border-right: none;
            border-left: none;
            // padding-top: 16px;
            // padding-bottom: 16px;
            // padding-left: 28px;
            // padding-right: 28px;
            text-align: center;
            height: 61px;
            width: 70px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  .single-product .single-product-container {
    display: block;
    width: 85%;
    .img-row {
      width: 100%;
      max-height: 650px;
      margin: 0 auto;
    }

    .info-row {
      width: 100%;

      &__description {
        font-size: 1rem;
      }
    }
  }
}