$generic-color-1: rgb(33, 18, 39);
$generic-color-2: #fff;
$generic-bg-home: rgb(244, 243, 245);
$generic-color-hover: rgb(114, 111, 111);

.single-product {
  background: $generic-bg-home;
  min-height: 130vh;
  padding-bottom: 50px;

  .single-product-loading {
    margin: 0 auto;
    width: 25%;
    padding-top: 80px;
  } 

  .single-product-header {
    width: 80%;
    margin: 0 auto;

    h3 {
      font-size: 3rem;
      font-weight: 450;
      padding-top: 30px;
    }

    &__info {
      display: flex;
      justify-content: space-between;
      margin-top: 15px;

      &__rating {
        .product-rating-container {
          display: flex;
          .stars-outer {
            position: relative;
            display: inline-block;
          }
          
          .stars-inner {
            position: absolute;
            top: 0;
            left: 0;
            white-space: nowrap;
            overflow: hidden;
            width: 0;
          }
          
          .stars-outer::before {
            content: "\f005 \f005 \f005 \f005 \f005";
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            color: #ccc;
          }
          
          .stars-inner::before {
            content: "\f005 \f005 \f005 \f005 \f005";
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            color: #f8ce0b;
          }

          .stars-number {
            margin-left: 15px;
          }
        }
      }

      &__code {
        span {
          color: rgb(104, 100, 100);
        }
      }
    }
  }

  .single-product-container {
    padding-top: 30px;
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

    .img-row {
      width: 50%;
      // max-height: 650px;

      .image-slider {
        display: flex;

        .img_container {
          // width: 90%;
          border-radius: 30px;
          overflow: hidden;
          max-width: 440px;
          max-height: 600px;
          // width: 600px;
          background-repeat: no-repeat;
          img {
            // display: block;
            width: 100%;
            pointer-events: none;
          }
        }
  
        button {
          border: none;
          // background: $generic-color-1;
          background: none;
          font-size: 1.2rem;
          color: $generic-color-1;
          // border-radius: 50%;
          // width: 50px;
          // height: 50px;
          padding: 5px;
          text-align: center;
          cursor: pointer;
          outline: none;
          margin-top: 20px;
          margin-left: 10px;
          margin-right: 10px;
        }

        button {
          font-size: 2rem;
        }
      }

      .images-listing {
        display: flex;
        justify-content: center;
        width: 80%;

        .images-list-container {
          display: flex;

          &__single-image {
            width: 100px;
            height: 150px;
            margin: 10px;

            img {
              width: 100%;
              height: 100%;
            }
          }
        }
      }

      .img_container:hover {
        cursor: zoom-in;
      }

      .img_container:hover img {
        opacity: 0;
      }
    }

    .info-row {
      width: 50%;
      margin: 0 auto;
      // display: flex;

      &__func {
        display: flex;
        flex-wrap: wrap;

        &__price {
          border: 4px solid $generic-color-1;
          color: $generic-color-1;
          font-size: 1.3rem;
          padding-top: 16px;
          padding-bottom: 16px;
          padding-left: 25px;
          padding-right: 30px;
          border-radius: 15px;
        }

        &__buttons {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          button {
            border: none;
            background: $generic-color-1;
            color: $generic-color-2;
            font-size: 1.3rem;
            padding-top: 16px;
            padding-bottom: 16px;
            border-radius: 15px;
            cursor: pointer;
          }
          
          button:hover {
            opacity: 0.8;
          }
  
          .add-to-cart {
            margin-left: 30px;
            outline: none;
            padding-left: 25px;
            padding-right: 25px;

            span {
              margin-left: 5px;
            }
          }

          .add-to-favorite {
            margin-left: 30px;
            padding-top: 16px;
            padding-bottom: 16px;
            padding-left: 25px;
            padding-right: 25px;
            outline: none;
          }
  
          &__amount {
            .decrement {
              background: none;
              border: 2px solid $generic-color-1;
              color: $generic-color-1;
              border-bottom-right-radius: 0px;
              border-top-right-radius: 0px;
              padding-top: 16px;
              padding-bottom: 16px;
              padding-left: 28px;
              padding-right: 28px;
              outline: none;
              cursor: pointer;
            }
            .increment {
              outline: none;
              background: none;
              border: 2px solid $generic-color-1;
              color: $generic-color-1;
              border-bottom-left-radius: 0px;
              border-top-left-radius: 0px;
              padding-top: 16px;
              padding-bottom: 16px;
              padding-left: 28px;
              padding-right: 28px;
              cursor: pointer;
            }
  
            input {
              outline: none;
              font-size: 1.3rem;
              border: 2px solid $generic-color-1;
              border-right: none;
              border-left: none;
              text-align: center;
              height: 61px;
              width: 70px;
            }
          }
        }
      }

      &__description {
        margin-top: 30px;
        font-size: 1.3rem;
      }

      &__age {
        margin-top: 20px;
        font-size: 1.4rem;
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  .single-product .single-product-container {
    display: block;
    width: 85%;
    .img-row {
      width: 100%;
      // max-height: 650px;
      margin: 0 auto;
    }

    .images-listing {
      .images-list-container {
        &__single-image {
          max-width: 80px;
          max-height: 120px;
        }
      }
    }

    .info-row {
      width: 100%;
      margin-top: 20px;

      &__func {
        &__buttons {
          .add-to-cart {
            span {
              display: none;
            }
          }
        }
      }

      &__description {
        font-size: 1rem;
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .single-product {
    .single-product-header {
      // width: 100%;
      
      h3 {
        font-size: 2rem;
        text-align: center;
      }

      &__info {
        display: block;
      }
    }

    .single-product-container {
      .info-row {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 470px) {
  .single-product .single-product-container {
    .images-listing {
      .images-list-container {
        &__single-image {
          max-width: 60px;
          max-height: 100px;
        }
      }
    }
  }
}